:root{
    --vermelho:#392bb3;
    --preta:#141414;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*elementos base*/
body{
   background: var(--preta);
   font-family: 'Arial', Times, serif;
   color:white;
   
}


header .container{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size:40px;
}

header nav a{
    text-decoration:none;
    color:#AAA;
    margin-right: 10px;
}


header nav a:hover{
    color:#fff;
}

.livro-principal{
    font-size:16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%),  url('https://scontent.fgru4-1.fna.fbcdn.net/v/t1.18169-9/fr/cp0/e15/q65/603927_570466239695191_892976733_n.jpg?_nc_cat=101&ccb=1-3&_nc_sid=dd9801&_nc_ohc=8FQK-uA2dXYAX-1mhZE&_nc_ht=scontent.fgru4-1.fna&tp=14&oh=0dd8dc0b92cbca9df825cba21da30c17&oe=60D65B1C');

    height:400px;
    background-size:cover;
 

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


.livro-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
}


.livro-principal .titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.botao{
    background-color: rgba(0,0,0,.50);
    border:none;
    color: rgb(255, 255, 255);

    padding:15px 30px;
    margin-right: 15px;
    font-size: 12px;
    

    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color:white;
    color:black;
}

.botao i{
    margin-right: 8px;

}


.container{
    margin-left: 20px;
}

.livro-principal .container{
    width: 70%;
}

.box-livro{
    height: 100%;
    width: 100%;
    display: block;
    cursor: pointer;
}


.carrosel-livros{
    margin-top:5px;
}

a{
    color:white;
    text-decoration: none;
}















